<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div style="background-color: cornflowerblue;display: flex;flex-direction: column">
    {{#each user}}
        <div>Email: {{email}}</div>
        <div>Password:{{password}}</div>
        <div>FirstName: {{firstName}}</div>
        <div>LastName: {{lastName}}</div>
        <div>Age: {{age}}</div>
        <div>City: {{city}}</div>
        <div>
            <form action="/users/{{id}}" method="post">
                <button>Delete</button>
            </form>
        </div>
    {{/each}}
</div>

</body>
</html>